/*
* @Author: User
* @Date:   2019-08-07 08:20:39
* @Last Modified by:   User
* @Last Modified time: 2019-08-07 08:20:44
*/

@import '../font/material-icons/material-icons';

@font-face {
	font-family: Roboto;
	src: url(/assets/font/Roboto-Thin.ttf) format("truetype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url(/assets/font/Roboto-ThinItalic.ttf) format("truetype");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: Roboto;
	src: url(/assets/font/Roboto-Light.ttf) format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url(/assets/font/Roboto-LightItalic.ttf) format("truetype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: Roboto;
	src: url(/assets/font/Roboto-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url(/assets/font/Roboto-Regular.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url(/assets/font/Roboto-Medium.ttf) format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url(/assets/font/Roboto-MediumItalic.ttf) format("truetype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: Roboto;
	src: url(/assets/font/Roboto-Bold.ttf) format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url(/assets/font/Roboto-BoldItalic.ttf) format("truetype");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: Roboto;
	src: url(/assets/font/Roboto-Black.ttf) format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url(/assets/font/Roboto-BlackItalic.ttf) format("truetype");
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: roboto-regular;
	src: url(/assets/font/Roboto-Regular.ttf) format("truetype");
}

@font-face {
	font-family: roboto-medium;
	src: url(/assets/font/Roboto-Medium.ttf) format("truetype");
}

@font-face {
	font-family: roboto-light;
	src: url(/assets/font/Roboto-Light.ttf) format("truetype");
}

@font-face {
	font-family: roboto-thin;
	src: url(/assets/font/Roboto-Medium.ttf) format("truetype");
}

@font-face {
	font-family: roboto-Thin;
	src: url(/assets/font/Roboto-Thin.ttf) format("truetype");
}

@font-face {
	font-family: roboto-black;
	src: url(/assets/font/Roboto-Black.ttf) format("truetype");
}

@font-face {
	font-family: roboto-bold;
	src: url(/assets/font/Roboto-Bold.ttf) format("truetype");
}

@font-face {
	font-family: bauhaus-93;
	src: url(/assets/font/Bauhaus-93.ttf) format("truetype");
}