/*
 * @Author: stephan <m6ahenina@gmail.com>
 * @Date: 2020-06-25 02:06:47
 * @Last Modified by: stephan <m6ahenina@gmail.com>
 * @Last Modified time: 2020-07-16 17:26:11
 */

html {
    font-size: 16px;
}

body {
    background: var(--naa-background-background);
    color: var(--naa-foreground-text);
}
